.rbc-event.rbc-event-red {
  background-color: #fb9a99;
  border-color: #e31a1c;
  color: black;
  border-radius: 0;
}

.rbc-event.rbc-event-green {
  background-color: #b2df8a;
  border-color: #33a02c;
  color: black;
  border-radius: 0;
}

.rbc-event.rbc-event-blue {
  background-color: #a6cee3;
  border-color: #1f78b4;
  color: black;
  border-radius: 0;
}

.rbc-event.rbc-event-purple {
  background-color: #cab2d6;
  border-color: #6a3d9a;
  color: black;
  border-radius: 0;
}

.rbc-event.rbc-event-orange {
  background-color: #fdbf6f;
  border-color: #ff7f00;
  color: black;
  border-radius: 0;
}
